.weather-info {
  .icon {
    width: 5rem;
    aspect-ratio: 1;
  }
  &--current {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .day {
      grid-column: span 2;
    }
    .icon {
      justify-self: end;
      width: 10rem;

    }
    .temp {
      justify-self: start;
      align-self: center;
    }
    .description {
      display: block;
    }
  }
}
