.App {
  max-width: 40rem;
  margin: 0 auto;
  
  .city-select {
    display: flex;
    justify-content: center;
    
  }
  
  .weather {
    text-align: center;
    position: relative;
    
    &__forecast {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
